/* css for arrow */
.fa-angle-down{
    font-size: 100px;
    color: aliceblue;
    animation: animate 1s linear infinite 0.3s ;
}
    @keyframes animate {
        0%{
            transform: translateY(-50px);
        }
    }
/* body css for profiles */
.overlapgap{
    height: 250px;
}
.row1{
    justify-content: center;
    padding-left: 15%;
}

.position2{
    position: relative ;
    margin-top: 20px;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
  }
 
  .profilecard:hover .profilecard-front {
    transform: rotateY(-180deg);
  }
  .profilecard:hover .profilecard-back {
    transform: rotateY(0deg);
  }
  
  .profilecard-front {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    border-color: silver;
    border-width: 2px;
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 0.5s;
  
  }
  .profilecard-front h2 {
    margin: 20% auto 35% auto;
    /* position: absolute; */
    margin-top: 120%;
    text-align: center;
    font-size: 26px;
    color: whitesmoke ;
  }
  .profilecard-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 2;
    border-radius: 10px;
    border-color: silver;
    border-width: 2px;
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(rgba(72, 6, 126, 0.5),rgba(4, 19, 238, 0.8));
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
    color:#ffffff;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
  }
  
  .profilecard-back h2 {
    margin: 20% auto 35% auto;
    font-size: 26px;
    line-height: 20px;

  }
  .profilecard-back h2 span {
    font-size: 14px;
    line-height: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  
  }
  
  .profilecard-back a {
    height: 10px;
    width: 20px;
    padding: 5px 0px;
    border-radius: 2px;
    line-height: 1px;
  }
  .profilecard-back a:hover {
    color: #000000;
    background-color: #fff;
  }
  .social-list-card{
      margin-left: 10%;
      list-style: none;
      width: 60%;
      justify-content: center;
    }
    .social-list-card li{
        font-size: 20px;
        display: inline;
        margin-left: 6%;
        justify-content: center;
    }
  .social-list-card li :hover{
      color: #fff;
      font-size: 20px;
      background-color: #000000;
  }  
  /* adding profiles images */
  #cardphoto-N_Arjun{
    background-image: url(images-profiles/N_Arjun.jpg);
  }
  #cardphoto-G_Dhaval{
    background-image: url(images-profiles/G_Dhaval.jpg);
  }
  #cardphoto-P_Harsh{
    background-image: url(images-profiles/P_Harsh.jpg);
  }

/* footer css */
.company-bio-footer{
    font-size: large;
    margin-bottom: 90px;
}
.social-footer{
    float: right;
    margin-left: 30%;
}
.social-list-footer{
    font-size: large;
    list-style: none;
}


@media only screen and (max-width:600px)
{
 .position2{
     margin-left: 110px;
 }   
 .company-bio-footer{
   width: 80%;
   margin-left: 10%;
 }
 .social-list-footer li{
   display: inline;
   padding-left: 10px;   
 }
}
